# Node
node_modules/
.next/
dist/
.vscode/

# Go
/bin/
*.exe
*.out

# Env (ignore real env files)
.env
.env.local
.env.production
.env.development
.env.*.local

# Allow example env template
!frontend/.env.example


# OS
.DS_Store
Thumbs.db